@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  transition: background 0.3s, color 0.3s;
}

input, textarea, select {
  font-size: 16px;
}

::selection {
  background: #0078d7;
  color: white;
}
